.char-card {
    display: flex;
    background: white;
    margin: 1rem;
    width: 80%;

}

.card-text {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-start;
    width: 100%;
    text-align: justify;
    flex-wrap: wrap;

}